[submodule "3rd/tinyobjloader"]
	path = 3rd/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "3rd/glm"]
	path = 3rd/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rd/stb"]
	path = 3rd/stb
	url = https://github.com/nothings/stb.git
[submodule "3rd/json"]
	path = 3rd/json
	url = https://github.com/nlohmann/json.git
[submodule "3rd/eigen-git-mirror"]
	path = 3rd/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
